<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <title><%= config.title %></title>
    <%- css('css/bootstrap.min.css')%>
    <%- css('css/img_loading.css') %>
  </head>
  <body>
    <%- partial('_partial/nav') %>
    <div class="_content container-fluid">
      <%- body %>
    </div>
    <%- js(
    'js/jquery-3.1.1',
    'js/bootstrap',
    'js/main') %>
  </body>
</html>
