<%- css('css/post.css') %>
<div class='_post_root'>
  <div class='text-center'>
    <h1><%- page.title %></h1>
    <% if(page.excerpt) { %>
      <span class='monospace'>
        <%- page.excerpt %>
      </span>
    <% } %>
  </div>
  <div class='row text-center'>
    <%- page.more %>
  </div>
  <div class='text-center monospace _date'>
    <%- date(page.date, config.date_format) %>
  </div>
  <% if (!moment(page.updated).isSame(page.date, 'day')) { %>
  <div class='text-center'>
    <code>
      Updated: <%- date(page.updated, config.date_format) %>
    </code>
  </div>
  <% } %>
  <div class='_pagination monospace'>
  <% if (page.prev) { %>
    <span class='_prev'>
      <a href="<%- url_for(page.prev.path) %>"><%= page.prev.title %> &gt;</a>
    </span>
  <% } %>
  <% if (page.next) { %>
    <span class='_next'>
      <a href="<%- url_for(page.next.path) %>">&lt; <%= page.next.title %></a>
    </span>
  <% } %>
  </div>
</div>
