<%- css('css/header.css') %>
<h1 class='_site_header'><a href="/">hnery</a></h1>
<% if(page.tag) { %>
  <code>tag = "<%- page.tag %>"</code>
<% } %>
<% if(page.category) { %>
  <!-- manipulating categories/category/subcategory/ base string-->
  <code>category = "<%- page.base.substring(11, page.base.length - 1) %>"</code>
<% } %>
<% if(page.archive) { %>
  <code>archive = "<%- page.archive %>"</code>
<% } %>
<% if(page.year) { %>
  <code>year = "<%- page.year %>"</code>
<% } %>
<% if(page.month) { %>
  <code>month = "<%- page.month %>"</code>
<% } %>
