<div
  class="_img-container"
  data-large=<%= path %>/large/<%= img %>
  data-small=<%= path %>/small/<%= img %>>
  <noscript>
    <img src=<%= path %>/large/<%= img %> class='_img-final loaded img-responsive' />
  </noscript>
  <div class="_placeholder"></div>
</div>
